.font-roboto {
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: rgb(246, 246, 246);
    background-image: linear-gradient(to right, #96b1d5, #e8ebef 50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 28px 16px;
}

.header .titleFirstLine {
    padding-top: 60px; /* Removes the margin below the first line to stack it close to the second line */
}

.header .container {
    max-width: 768px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header .textSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header .title {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
    margin: 0px;
    align-items: center;
}

.header .description {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 30px;
    align-items: center;
}

.header .actionSection {
    display: flex;
    gap: 15px;
}

.header .learnMoreBtn, .header .signUpBtn {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.header .learnMoreBtn {
    background-color: transparent;
    border: 1px solid black;
}

.header .learnMoreBtn:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.header .signUpBtn {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border: 1px solid black;
}

.header .signUpBtn:hover {
    background-color: #db4f51;
    color: rgb(0, 0, 0);
}
