.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  padding: 40px; 
  background-color: #ffffff;
  font-family: 'Arial', sans-serif; 
}

.header {
  grid-column: 1 / -1; /* Header spans all columns */
  font-size: 2rem; /* Adjust size as needed */
  color: #0056b3;
  text-align: center;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #eee; /* Light line for separation */
}

.card {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column; /* Stack content vertically */
}

.card:hover {
  transform: translateY(-5px);
}

.search {
  width: 100%;
  max-width: 600px;
  padding: 16px;
  margin-bottom: 30px;
  border-radius: 25px;
  border: 2px solid #d0d7de;
  font-size: 1em;
}

.button {
  background-color: #0056b3; 
  color: white;
  border: none;
  border-radius: 25px;
  padding: 12px 30px;
  font-size: 1em;
  transition-duration: 0.3s;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
}

.button:hover,
.button:focus {
  background-color: #003d82; 
  color: white; 
}