/* index.css */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #f5e5b8; /* Set the background color of the entire page */
    overflow: hidden; /* Hide scrollbars */

  }
  
  /* Main body flexbox centering */
  body {
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
    text-align: left; /* Ensure text alignment is to the left */
  }
  